/* Global Styles */

:root {
  --accent-color: #a82d49;
  --font-color: #43121d;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

/* Header Styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

ul {
  list-style: none;
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
  color: var(--accent-color);
  font-weight: bold;
}

button {
  background-color: var(--accent-color);
  padding: 0.7em 1em;
  color: white;
  font-weight: bolder;
  border: none;
  text-align: center;
}

/* Showcase Styles */

.showcase {
  padding: 275px 0 150px;
  background: no-repeat center;
  background-size: cover;
}

.showcase-content {
  width: 50%;
  font-size: 1.3em;
  color: var(--font-color);
}

.showcase-content > button {
  margin: 1em;
}
