/* Global Styles */

:root {
  --accent-color: #a82d49;
  --font-color: #43121d;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

button {
  background-color: var(--accent-color);
  padding: 0.7em 1em;
  color: white;
  font-weight: bolder;
  border: none;
  text-align: center;
}

/* Header Styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

nav > ul {
  list-style: none;
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
  color: var(--accent-color);
  font-weight: bold;
}

/* Showcase Styles */

.showcase-bg {
  padding: 275px 0 150px;
  background: no-repeat center;
  background-size: cover;
}

.showcase-content {
  width: 40%;
  font-size: 1.3em;
  color: var(--font-color);
}

.showcase-content > button {
  margin: 1em;
  box-shadow: 0px 2px 10px gray;
}

/* Stats Bar Styles */

.stats-bg {
  color: white;
  background-color: var(--accent-color);
  width: 100%;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.stats h2 {
  margin-top: 50px;
  margin-bottom: 0;
  font-size: xx-large;
}

.stats p {
  margin-top: 2px;
  margin-bottom: 50px;
}

/* About Section Styles */

.about {
  display: flex;
  flex-direction: column;
}

.about-item {
  display: flex;
  margin: 80px 0px 0px;
  align-items: center;
  color: var(--font-color);
}

.about-item h2 {
  font-size: xx-large;
}

.about-item p {
  line-height: 1.7em;
}

.about-item > img {
  width: 50vw;
  max-width: 650px;
  margin: 0px 20px;
  border-radius: 1em;
}

/* Banner Section Styles */

.banner-bg {
  margin: 50px 0 0;
  padding: 100px 0;
  background: no-repeat center;
  background-size: cover;
  text-align: center;
  color: var(--font-color);
}

.banner-content {
  margin: 0 auto;
  max-width: 650px;
}

.banner-bg h2 {
  font-size: xx-large;
}

.banner-bg p {
  line-height: 1.7em;
}

/* Meals Section Styles */

.meals {
  text-align: center;
  line-height: 1.7em;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 0;
}

.meals h2 {
  font-size: xx-large;
  color: var(--font-color);
}

.meals p {
  margin-bottom: 30px;
}

.meals-items {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.meals-items img {
  width: 50vw;
  max-width: 400px;
  border-radius: 5px;
}