/* Global Styles */

:root {
  --accent-color: #a82d49;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

/* Header Styles */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

ul {
  list-style: none;
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
  color: var(--accent-color);
  font-weight: bold;
}

button {
  background-color: var(--accent-color);
  padding: 0.7em 1em;
  color: white;
  font-weight: bolder;
  border: none;
  text-align: center;
}
